#main-header{
    background-color: black;
    color:rgb(95, 0, 0);
    font: 1em sans-serif;
    
    }
        
        #navbar{
           background-color: rgb(116, 7, 7);
           color: rgb(0, 0, 0); 
        }
        
        #navbar ul{
            padding:0;
            list-style: none;
        }
        
        #navbar li{
        display: inline;
        }
        
        #navbar a{
            color:rgb(0, 0, 0);
            text-decoration: none;
            font-size: 18px;
            padding-right: 15px;
        }  

        .my-container {
            border: 1px solid rgb(0, 0, 0)
        }
       
        .my-row {
            border: 3px solid red;
            height: 300px;
           
        }  
       
        .my-col {
           border: 3px solid rgb(0, 0, 0) 
        } 

        #main-footer{
            background: red;
            color: #fff;
            text-align: center;
            padding: 20px;
            margin-top: 40px;
        }
        